name: Package and deploy Labspace

env:
  OCI_IMAGE: ghcr.io/${{ github.repository_owner }}/labspace-dhi-trivy-python-postgres:latest

permissions:
  contents: read

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      packages: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      # Ensure Compose v2.39.3+ is available (includes bug fixes for publishing)
      # Can remove this action once default runners include it
      - name: Set up Docker Compose
        uses: docker/setup-compose-action@v1
        with:
          version: v2.39.3
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Publish Compose file
        run: |
          docker compose -f oci://dockersamples/labspace -f .labspace/compose.override.yaml publish ${OCI_IMAGE} --with-env -y
